*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}
.footer{
    width: 100%;
    height: 225px;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #111;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: #fff;
    padding: 0 20px;

}

a{
    color: #fff;
}
.heading{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 1000;
    margin-bottom: 5px;
    
}
.left{
    width: 30%;
}
.content{
    font-size: 16px;
    line-height: 20px;
    width: 90%;
    color: grey;
}

.middle{
    width: 30%;

}
.serive a{
    font-size: 16px;
    line-height: 25px;
    color: grey;
}
.right{
    line-height: 28px;
    width: 29%;
}
.text textarea{
    width: 90%;
    height: 30px;
    background: #111;
    border: 1px solid grey;
    color: grey;
    font-size: 16px;
    padding: 5px;
    border-radius: 3px;
    
}
.right .button{
    margin-top: 5px;
    width: 90%;
    height: 27px ;
    background: orangered;
    text-align: center;
    border-radius: 3px;
    
}
.right .button:hover {
    filter: brightness(0.7);  /* 0.7 makes it dim */
}

.right .follow{
    margin-top: 10px;
    display: flex;
    gap: 25px;
    size: 5rem;
}
.right .random{
    margin-top: 25px;
    bottom:0;
    margin-left: 115px;
    margin-bottom: 0px;
}
